{{define "subscriptions.html"}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
    <main class="wrapper">
        {{template "_header.html"}}
        <section class="container">
            <h3>{{ .title }}</h3>
            <table>
                <thead>
                    <tr>
                        <th>Tariff</th>
                        <th></th>
                        <th>Created</th>
                        <th>Update</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $key, $value := .Subscriptions }}
                    <tr>
                        <td><b>{{$value.TariffName}}</b></td>
                        <td>{{$value.StripeID}}</td>
                        <td>{{$value.CreatedAt | formatAsDate}}</td>
                        <td>{{$value.UpdatedAt | formatAsDate}}</td>
                        <td>{{ $value.Status | columnStatus}}</td>
                    </tr>
                    {{end}}

                    <tr>
                        <td class="td-noline"></td>
                        <td colspan="4" class="td-new-license"><a href="/admin/subscription/{{.customerID}}/new">create new license</a></td>
                    </tr>
                    {{ if .Licensies }}
                    {{ range $key, $value := .Licensies }}
                    <tr>
                        <td class="td-noline"></td>
                        <td class="td-license td-license-hash"><a href="/admin/license/{{$value.ID}}">🎟 {{$value.Hash}}</a></td>
                        <td class="td-license">{{$value.CreatedAt | formatAsDate}}</td>
                        <td class="td-license">{{$value.UpdatedAt | formatAsDate}}</td>
                        <td class="td-license">{{$value.Status | columnStatus}}</td>
                    </tr>
                    {{end}}
                    {{end}}

                </tbody>
            </table>
        </section>
    </main>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>

</html>
{{end}}