.wrapper > .container {
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}

.wrapper .container {
  max-width: 80rem;
}

.carbonads {
  background-color: #f4f5f6;
  border-radius: 4px;
  color: #606c76;
  line-height: 1.6;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 33rem;
  padding: 1.5rem;
}

.carbonads,
.carbonads span {
  display: block;
  overflow: hidden;
}

.login {
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 33rem;
  padding: 1.5rem;
}

.navigation {
  background: #f4f5f6;
  border-bottom: 0.1rem solid #d1d1d1;
  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navigation .container {
  padding-bottom: 0;
  padding-top: 0;
}

.navigation .navigation-list {
  list-style: none;
  margin-bottom: 0;
  margin-right: 5rem;
}

@media (min-width: 80rem) {
  .navigation .navigation-list {
    margin-right: 0;
  }
}

.navigation .navigation-item {
  float: left;
  margin-bottom: 0;
  margin-left: 2.5rem;
  position: relative;
}

.navigation .img {
  position: relative;
  top: 1rem;
}

.navigation .navigation-title,
.navigation .title {
  color: #606c76;
  position: relative;
}

.navigation .navigation-link,
.navigation .navigation-title,
.navigation .title {
  display: inline;
  font-size: 1.6rem;
  line-height: 5.2rem;
  padding: 0;
  text-decoration: none;
}

.navigation .navigation-link.active {
  color: #606c76;
}

.column-green {
  background: #09a316;
  color: #ffffff;
  border-radius: 0.4rem;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}

.column-red {
  background: #eb3636;
  color: #ffffff;
  border-radius: 0.4rem;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}

thead {
  background-color: cornsilk;
}

td,
th {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.td-noline {
  border-bottom: 0.1rem solid #ffffff;
}

.td-license {
  background-color: #f4f5f6;
}

.td-new-license {
  text-align: center;
  background-color: #e4f7e6;
}

.td-license-hash {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
